* {
    box-sizing: border-box;    
}

body {
	margin: 30px;
	padding: 0;
	font-size: 0;
}

.wrapper {
	width: 100%;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation-item {
	border: 1px solid #ccc;
	padding: 10px 20px;
	display: inline-block;
	font-size: 20px;
	margin: 0 15px 15px 0;
	cursor: pointer;
}

.navigation-item:hover {
	background: #000;
	color: #fff;
}

.logo {
	height: 165px;
	position: relative;
	display: inline-block;
	margin: 0 30px 30px 0;
}

.logo img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.apple.logo {
	width: 150px;
}

.disney.logo {
	width: 381px;
}

.nike.logo {
	width: 320px;
}

.vogue.logo {
	width: 330px;
}


.apple.logo img {
	height: 150px;
}

.disney.logo img {
	height: 165px;
}

.nike.logo img {
	height: 115px;
}

.vogue.logo img {
	height: 110px;
}