body {
	color: #fff;
	margin: 0;
	padding: 0;
	background: #000;
	font-family: Impact; 
}

.wrapper {
	background: #000;
	width: 960px;
	margin: 0 auto 0 auto;
}


.no-left Hel
	margin-left: 0;
}

.no-right-gutter { 
	margin-right: 0;
}

.whitespace-fix {
	font-size: 0;
}


.c {
	display: inline-block;
	margin: 10px 13px 10px 13px;
	text-align: center;
	padding-top: 20px;
	background: #000;
	font-size: 50px;
}

.c7 {
	width: 75px;
	height: 2px;
	background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
}

.c0 {
	width: 100px;
	height: 5px;
	background: #1A1A1A; 
}

.c1 {
	width: 125px;
	height: 15px;
	background: #191919;
}

.c2 {
	width: 160px;
	height: 30px;
	background: #383838;
} 

.c3 {
	width: 210px;
	height: 45px;
	background: #4c4c4c;
}

.c4 {
	width: 290px;
	height: 60px;
	background: #7F7F7F;
}

.c5 {
	width: 450px;
	height: 85px;
	background: #A9A9A9;
}

.c6 {
	width: 930px;
	height: 100px;
	background: #E5E5E5; 
}

.title {
	display: inline-block;
	margin: 10px 15px 10px 20px;
	text-align: center;
	padding-top: 20px;
	background: #000 ;
	font-size: 50px;
}
