html, body {
	font-family: Times New Roman;
}

.slide {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	display:table;
	background-color: #fff;
}

.two{
	color: #fff;
	letter-spacing: 5px;
}

.one h1{margin:0;
	font-size: 70px;
	letter-spacing: 11px;
	padding-right: 250px;
	text-align: left;
	display: table-cell;
	vertical-align: middle;
}


.two p{margin:0;
	font-size: 15px;
	font-family: monospace;
	letter-spacing: 3px;
	padding-left: 190px;
	padding-top: 250px;
	text-align: right;
	display: table-cell;
	vertical-align: top;
}



/*html, body {
	font-family: didot;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.object{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	display:table;
}

.one{
	background-image: url('../img/fadetoblack1.png');
	color: #fff;
}

.two{
	background-image: url('../img/fadetoblack2.png');
	color: #fff;
	letter-spacing: 5px;
}

.one h1{margin:0;
	font-size: 30px;
	letter-spacing: 11px;
	padding-right: 250px;
	text-align: right;
	display: table-cell;
	vertical-align: middle;
}


.two p{margin:0;
	font-size: 15px;
	font-family: monospace;
	letter-spacing: 3px;
	padding-left: 190px;
	padding-top: 250px;
	text-align: left;
	display: table-cell;
	vertical-align: top;
}